@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Inter:wght@500;600&family=Merienda+One&display=swap');

* {
   box-sizing:border-box;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Inter', sans-serif;
   color: #fff;
   font-size: 14px;
   background-color: #000;
   margin: auto;
}
.container {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: url(../img/broken_noise_@2X.png);
   width: 1680px;   
}
.info-cv {
   width: 30%;
   
}
.text-cv {
   width: 30%;
   
}
.avatar-cv {
   width: 30%;
}
.info-cv {
   display: flex;
   flex-direction: column;
   margin-top: 40px;
}
.name-cv {
   margin-bottom: 20px;
}
.name-cv-title {
   font-style: normal;
   font-weight: 600;
   font-size: 75px;    
}
.info-text {
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 25px;
}
.info-result-text {
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 25px;
}
.info-result-text {
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
}
.info-text {
   opacity: 0.6;
}
.info-block {
   width: 206px;
}
.info-row-one {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 35px;
}
.info-row-two {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 35px;
}

.tech-title {
   font-style: normal;
   font-weight: 600;
   font-size: 30px;
   line-height: 25px;
   opacity: 0.9;
   margin-bottom: 20px;
}
.tech-text {
   margin-bottom: 1px;
}
.tech-line-grey {
   width: 80%px;
   height: 7px;
   background: rgba(255, 255, 255, 0.3);
   border-radius: 10px;
   margin-bottom: 10px;
}
.tech-internet-line-white {   
   height: 7px;
   background: #FFFFFF;
   border-radius: 10px;
}
.tech-social-line-white {   
   height: 7px;
   background: #FFFFFF;
   border-radius: 10px;
}
.tech-shopping-line-white {   
   height: 7px;
   background: #FFFFFF;
   border-radius: 10px;
}
.text-cv-line {
   line-height: 25px;
}
.text-cv-title {
   font-style: normal;
   font-weight: 600;
   font-size: 30px;
   opacity: 0.9;
   margin: 0;
}
.biography{   
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   opacity: 0.8;
}
.pain-points{   
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   opacity: 0.8;
}
.needs{   
   padding: 20px;
   padding-top: 0;
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   opacity: 0.8;
}
.biography-cv {
   margin-bottom: 50px;
}
.needs-text {   
   text-align: left;
   margin-bottom: 10px;
}
.needs-cv {
   margin-bottom: 35px;
}
.avatar-cv {
   margin-top: 50px;
   margin-bottom: 50px;
   position: relative;
   display: inline-block;
}

.avatar-cv-image {
   width: 460px;
   height: 750px;
   background-image: url(../img/woman-in-kitchen-looking-at-recipe-on-tablet-GGPQGD3\ 1.jpg);
   background: linear-gradient(360deg, #6A595B -21.87%, rgba(131, 104, 107, 0) 45.4%);
   border-radius: 7px;
}
.avatar-cv-slogan {
   position: absolute;   
   bottom: 60px; 
   font-family: 'Merienda One', cursive;
   font-style: normal;
   font-weight: 600;
   font-size: 1em;
   line-height: 35px;
   left: 50px;
   right: 50px;   
}

@media (max-width: 1440px) {
   .container {
      max-width: 100%;
      justify-content: space-around;
   }
   .info-cv {
      max-width: 100%;      
   }
   .text-cv {
      max-width: 100%;
   }
   .avatar-cv {
      max-width: 100%;
   }   
   .tech-line-grey {
      width: 80%;
      height: 7px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 10px;
      margin-right: 0;
      padding-right: 0;
      margin-bottom: 10px;
   }   
   .avatar-cv-image {
      max-width: 100%;
      height: 100%;
   }
   .avatar-cv-slogan {
      font-size: 1em;
      line-height: 1.4;
      left: 25px;
      right: 15px;
   }
}

/*  */

@media (max-width: 1260px) {
   .container {
      max-width: 1100px;
      display: flex;
      flex-direction: column;      
      justify-content: center;
      align-items: center;
   }  
   .info-cv {
      width: 100%;      
   }
   .name-cv {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .info-row-one {
      display: flex;
      justify-content: center;
      justify-content: space-around;
   }
   .info-row-two {
      display: flex;      
      justify-content: space-around;
   }
   .info-row-three {
      display: block;
      margin-left: 20%;
   }
   
   .text-cv {
      margin-top: 30px;      
   }
   .avatar-cv {
      max-width: 100%;
   }
   .tech-line-grey {
      width: 80%;
   }
   .avatar-cv {
      max-width: 100%;
   }
   .avatar-cv-image {
      max-width: 100%;
      height: 100%;
   }
   .avatar-cv-slogan {
      font-size: 1em;
      line-height: 1.4;
      left: 25px;
      right: 15px;
   }       
}

/* +++++++++++++++++++++++++++++++ */

@media (max-width: 650px) {
   .container {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      justify-content: center;
      align-items: center;      
   }
   .name-cv-title {
      font-size: 2em;
   }
   .tech-line-grey {
      width: 80%;
   }
   .avatar-cv {
      width: 100%;
   }
   .avatar-cv-image {
      max-width: 100%;
      height: 100%;
   }
   .avatar-cv-slogan {
      display: block;
      width: 80%;
      font-size: 1em;
      line-height: 1.4;
      left: 25px;
      right: 15px;
   } 
}

@media (max-width: 330px) {
   .container {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      justify-content: center;
      align-items: center;
   }
   .info-cv {
      max-width: 100%;
   }
   .name-cv-title {
      font-size: 2em;
   }
   .text-cv-title {
      font-size: 1.5em;
   }
   .tech-line-grey {
      width: 80%;
   }
   .avatar-cv {
      display: block;
      max-width: 150px;
   }
   .avatar-cv-image {
      max-width: 100%;
      height: 100%;
   }
   .avatar-cv-slogan {
      display: block;
      width: 80%;
      font-size: 0.5em;
      line-height: 1.4;
      left: 25px;
      right: 15px;
   }
}

